<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iovu.iovuback.mapper.ReportListMapper">
    <select id="selectAll" resultType="com.iovu.iovuback.domain.ReportList">
        select * from report_list
    </select>


    <insert id="insertReportListDTO" parameterType="com.iovu.iovuback.dto.ReportListDTO">
        <selectKey keyProperty="report_id" resultType="int" order="BEFORE">
            SELECT report_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO report_list (
        report_id, user_id, keyword, status, data_volume, created_at, updated_at
        ) VALUES (
        #{report_id}, 'USER001', #{keyword}, #{status}, #{data_volume}, #{created_at}, #{updated_at}
        )
    </insert>
    <insert id="insertReportDetailDTO" parameterType="com.iovu.iovuback.dto.ReportDetailDTO">
        <selectKey keyProperty="report_detail_id" resultType="int" order="BEFORE">
            SELECT report_detail_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO report_detail (
        report_detail_id, report_id, ai_type, created_at, json_data
        ) VALUES (
        #{report_detail_id}, #{report_id}, #{ai_type}, #{created_at}, #{json_data}
        )
    </insert>
    <insert id="insertConsultingDTO" parameterType="com.iovu.iovuback.dto.ConsultingDTO">
        <selectKey keyProperty="consulting_id" resultType="int" order="BEFORE">
            SELECT consulting_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO consulting (
        consulting_id, report_detail_id, result, consulting
        ) VALUES (
        #{consulting_id}, #{report_detail_id}, #{result}, #{consulting}
        )
    </insert>
    <insert id="insertDomainLinkDTO" parameterType="com.iovu.iovuback.dto.DomainLinkDTO">
        <selectKey keyProperty="domain_link_id" resultType="int" order="BEFORE">
            SELECT domain_link_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO domain_link (
        domain_link_id, report_detail_id, domain_name, rate, chatgpt, gemini, category
        ) VALUES (
        #{domain_link_id}, #{report_detail_id}, #{domain_name}, #{rate}, #{chatgpt}, #{gemini}, #{category}
        )
    </insert>
    <insert id="insertLinkListDTO" parameterType="com.iovu.iovuback.dto.LinkListDTO">
        <selectKey keyProperty="link_id" resultType="int" order="BEFORE">
            SELECT link_list_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO link_list (
        link_id, domain_link_id, link
        ) VALUES (
        #{link_id}, #{domain_link_id}, #{link}
        )
    </insert>
    <insert id="insertDashboardDTO" parameterType="com.iovu.iovuback.dto.DashboardDTOO">
        <selectKey keyProperty="dashboard_id" resultType="int" order="BEFORE">
            SELECT dashboard_id_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO dashboard (
        dashboard_id, report_id, result_summary, brand_rate1, brand_rate2,
        brand_rank, domain_rate1, domain_rate2, brand_mention
        ) VALUES (
        #{dashboard_id}, #{report_id}, #{result_summary}, #{brand_rate1}, #{brand_rate2},
        #{brand_rank}, #{domain_rate1}, #{domain_rate2}, #{brand_mention}
        )
    </insert>

</mapper>